body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 
.container {
  display: none;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.hangman {
  height: 95vh;
  width: 40vw;
  margin-right: 10px;
  margin-left: 30px;
  display: none;
  background-size: cover;
}

.hangman-container {
  display: flex;
  align-items: center;
}

.hint {
  background-color: #f39cf2;
  font-family: Impact, fantasy;
  font-size: 1.25em;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  height: 5vh;
  width: 6vw;
  cursor: pointer;
}

.hint-button {
  background-color: #f17df0;
  font-family: Impact, fantasy;
  font-size: 13px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: black 2px solid;
  height: 4vh;
  width: 2vw;
  cursor: pointer;
  margin-top: 6px;
}

.hint:hover, .hint-button:hover {
  background-color: purple;
}

.definition-container {
  border: black 2px solid;
  height: 15vh;
  width: 45vw;
  background-color: #f39cf2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Impact, fantasy;
  font-size: 17px;
  text-align: center;
}

.loading {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.load-words {
  margin-top: 100px;
  font-family: Impact, fantasy;
  font-size: 40px;
  animation: fontSize 1s infinite alternate;
}

.loader {
    --d:33px;
    margin-top: 200px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #9c429a;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }

  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }
  
  @keyframes floatAnimation {
    0% {
        transform: translateY(0); /* Start position */
    }
    100% {
        transform: translateY(-7px); /* End position */
    }
  }

  @keyframes fontSize {
    0% {
      font-size: 40px;
    }
    100% {
      transform: scale(1.25, 1.25);
    }
  }

  .line {
    font-family: Impact, fantasy;
    font-size: 85px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .letter {
    padding: 15px;
  }

  .letter-animation {
    animation: floatAnimation 2s infinite alternate;
  }

  .keyboard {
    display: flex;
    border: black solid 2px;
    height: 30vh;
    width: 55vw;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f17df0;
    margin-bottom: 60px;
  }

  .key {
    height: 15%;
    width: 8%;
    border: black solid 2px;
    background-color: #f39cf2;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, fantasy;
    font-size: 25px;
    cursor: pointer;
  }

.win-lose-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 55vw;
  border: black 3px solid;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #f17df0;
  overflow: scroll;
}

.win-container {
  display: none;
  font-family: Impact, fantasy;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lose-container {
  display: none;
  font-family: Impact, fantasy;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-container {
  display: flex;
  font-family: Impact, fantasy;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}

.rules-container {
  display: none;
  font-family: Impact, fantasy;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  width: 80%;
}

.rules-container p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.win-container p, .lose-container p, .home-container p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 55px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 180px;
  border: black 2px solid;
  border-radius: 17px;
  margin-top: 5px;
  background-color: #f39cf2;
  cursor: pointer;
}

.button:hover {
  background-color: #9c429a;
}